.chart-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.chart-header h3 {
  margin: 0;
}

.chart-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radar-container {
  margin-top: -10px; /* Offset the padding in recharts to align with the other chart */
}

/* Override recharts legend text color if needed */
.recharts-legend-item-text {
  color: var(--text-secondary) !important;
  margin-left: 6px;
}
